# 1. what is python and why it is popular
- python is a general purpose programming language 
- python commonly used for developing websites and software,data analysis
- it is popular for its versatility,beginner friendliness
- python has simple syntax to code
- because of simplicity of learing and utilization and it can be executed as quickly than other programming

# 2. what is an ide and name a few popular python ides
- ide is a software application that helps programmers develop software code efficiently
- used for coding tools that make writing,debugging and testing the code easier
popular python ides:
1. jupyter
2. spyder
3. pydev
4. pycharm
5. visual studio code

# 3.what are the rules for naming a variable
1. a variable can contain only alpha-numeric and underscore
2. a variable name cant start with digits
3. a variable name cant start with a number
4. reserved keywords cannot be used
5. variables naqmes are case sensitive

# 4. how do you assign multiple values to a multople variables insingle line

In [ ]:
a,b,c=1,2,3
print(a)
print(b)
print(c)

# 5. can use python keywords as variable
- no python cannot use keyword as variable as they are used to perform operations and we cant consider as variable we will get an error if we use them in a variable

# 6.why comments important in programming
- comments help us to understand the code better and enhance the redeability of tyhe code helps the programmers to understand the code very carefully
- it also helps in debugging by knowing the problem better

# 7.what are basic data types in python
- there are 4 types in python
1. int- it represents whole numbers from minus infinity to infinity
2. float- it represents the decinmal numbers
3. boolean- it returns the value either true or false
4. complex-combination of real and imaginary part

# 8.how do you convert string to an integer in python

In [ ]:
a="23"
b=int(a)
print(b)
print(type(b))

23
<class 'int'>

# 9.what is the difference between int and float
- int are non fractional numbers and float are fractional numbers
- int are whole numbers they can be positive negative or zero where float are in decimal form they can also be posotive or negative
- example : int=55
- float=77.8

# 10. how do you check the data types are variable 
- we can check the type of variable by using type function

In [ ]:
# example for type function
a=77.8
print(type(a))

<class 'float'>

# 11.how do you add an element to a list
- by using append() or insert()

In [ ]:
# example
list=[1,2,3]
list.append(7)
print(list)

[1, 2, 3, 7]

In [ ]:
#12.how do you create a tuple with one element
- we have to add a comma after the item
tuple=("banana",)
print(type(tuple))

<class 'tuple'>

# 13. how do you access a value in a dictionary using a key
by using []brackets

# 14.how to access elements in a list
- by using index method

In [ ]:
a=[1,2,3,4,5]
a[1]

2

In [ ]:
# 15.how do you access a char in a string
- by using index
a="akshaya"
a[5]

# 16. format strings in python

In [ ]:
name="akshaya"
place="nalgonda"
format_string=f"her name is {name} she is going to {place} "
print(format_string)

her name is akshaya she is going to nalgonda

# 17 what is tuple and how is it difference from a list?
- a tuple is a data type that represents an ordered
- it can be represented by paranthesis()
- it is immutable
- it allows duplicate
the difference between list and tuple is
- tuple cant be changed after they are created,but list can be modified

# 18. how do you concatenate two tuples

In [ ]:
tuple1=(1,2,3)
tuple2=(5,6,7)
tuple3=tuple1+tuple2
print(tuple3)

(1, 2, 3, 5, 6, 7)

# 19. how do you access values in a dict
- by using {} brackets
- by using key we can easily access values
placing a key within [] bracket next to the dict

In [ ]:
dict={"name":"mahi","age":"43","score":"101"}
a=dict["age"]
print(a)

43

# 20. how do you add a key-value pair to a dictionary?
- dictionary holds a key:value pair
- while using a dict we need to modify the key/value inside the dict

# 21. how do you remove key-value pair from a dictionary

In [ ]:
students={"name":"akshaya","age":"22","grade":"A"}
students.pop("age")
print(students)

{'name': 'akshaya', 'grade': 'A'}

# 22.how do you add an element to a set

In [ ]:
a={2,3,4,5}
a.add(77)
print(a)

{2, 3, 4, 5, 77}

# 23. how do you remove an element from a set

In [ ]:
a={2,3,4,5}
a.remove(3)
print(a)

{2, 4, 5}

In [ ]:
a={2,3,4,5}
a.discard(3)
print(a)

{2, 4, 5}

# 24. what are the common set operations in python
there are four types;
1. union
2. intersection
3. difference
4. symmetric difference

In [ ]:
set1={1,2,3,4}
set2={4,5,6,7}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 7}
{4}
{1, 2, 3}
{1, 2, 3, 5, 6, 7}

# 25. write a python program to find the index of an element in a tuple?

In [ ]:
a=(1,2,3,4,5)
print(a.index(4))

3